---
import BentoItem from "../bento/BentoItem.astro";

import { getI18N } from "../../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const baseBentoStyles = `absolute left-0 top-0 bottom-0 w-full rounded-xl
      transition-scale duration-1000 ease-in-out opacity-90 bg-center
      bg-cover bg-no-repeat bg-blend-luminosity
      group-hover:scale-110 -z-10`;
---

<section
  class="w-full max-w-[1400px] grid grid-cols-1 lg:grid-cols-10 auto-rows-[30rem] gap-4 mx-auto p-20"
>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title={i18n?.BENTO_TITLE_1 as string}
  >
    <div
      slot="image"
      class={`${baseBentoStyles} bg-blue-700/50`}
      style="background-image: url('/images/mountain.webp')"
    >
    </div>

    <p slot="content" class="max-w-xl" set:html={i18n?.BENTO_CONTENT_1} />
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title={i18n?.BENTO_TITLE_2 as string}
    subTitle="16 de febrero de 2024"
  >
    <div
      slot="image"
      class={`${baseBentoStyles} bg-blue-800`}
      style="background-image: url('/images/pistas.webp')"
    >
    </div>
    <p slot="content" class="max-w-xl" set:html={i18n?.BENTO_CONTENT_2} />
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title={i18n?.BENTO_TITLE_3 as string}
    subTitle="17 de febrero de 2024"
  >
    <div
      slot="image"
      class={`${baseBentoStyles} bg-blue-900`}
      style="background-image: url('/images/grefposing.webp')"
    >
    </div>
    <p slot="content" class="max-w-xl" set:html={i18n?.BENTO_CONTENT_3} />
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title={i18n?.BENTO_TITLE_4 as string}
  >
    <div
      slot="image"
      class={`${baseBentoStyles} bg-blue-950`}
      style="background-image: url('/images/laptop.webp')"
    >
    </div>
    <p slot="content" class="max-w-xl" set:html={i18n?.BENTO_CONTENT_4} />
  </BentoItem>
</section>
